#about{
    overflow: hidden;
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.tile{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 2rem;
    margin-top:7rem;
    margin-bottom: 1rem;
    color: beige;
}
.paragraph{
    font-weight: 400;
    font-size: 1.25rem;
    max-width: 70rem;
    padding: 0 2rem;
    margin-bottom: 4rem;
}

.stack-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.technology{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.techstack-title{
    display: flex;
    gap: 2rem; 
    font-size: 1.5rem;
    font-weight:300;
    color: aqua;
}
.icons{
    display: flex;
    gap: 2rem;
}


.social-links{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: aqua;
    
}
@media screen and (max-width: 768px) {
    .paragraph{
        font-weight: 300;
        font-style: italic;
    }
    .stack-container{
        margin: 1rem;
    }
    .icons{
        gap:0.5rem;
    }
    .social-links{
        gap:1rem;
    }
    .tile{
        font-size:1.5rem;
        margin-top:6rem;
    }
}
