.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 100rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background:  rgb(30, 30, 30);

}
.logo{
    padding:1rem;
    color:rgb(18, 205, 230);
    font-size:2rem;
  
}
.menubarListItem{
    margin: 1rem;
    cursor: pointer;
    font-size:1.5rem;
    color:rgb(18, 205, 230);    
}
.menubarListItem:hover{
  color:rgb(18,240,200);
  padding-bottom: 0.5rem;
  border-bottom: 3px solid rgb(18,240,200);
}
.active{
    color:rgb(18, 205, 230);
}
 @media only screen and (max-width: 768px) {
    
    .navbar {
      flex-direction: column;
      align-items: center;
      height:8rem;
      padding:1rem;
      
    }
    .logo {
      align-iteam:center;
    }
    .menubar {
      flex-direction: column;
    }
    .menubarListItem {
      margin:0.5rem;
      font-size: 16px;

    }
    
    }
  